<div class="row container rowpos">
	<div class="col s12 m12 l12">
		
		<div class="card white z-depth-2">

			<!-- tarjeta: Titulo -->
			<div class="card grey lighten-2 z-depth-2 center">
				<div class="card-action">
					<h4>
						Salir de la aplicaci&oacute;n
					</h4>
				</div>
			</div>


			<!-- Tarjeta: Contenido -->
			<div class="card-content white">
				<h5>¿Esta seguro?</h5>
			</div>

			<!-- Tarjeta: Botones -->
			<div class="card-action blue darken-2">
				<button type="button" class="btn red darken-1"  ng-click="cancelar()">
					Cancelar
					<i class="icons ion-android-cancel right"></i>
				</button>

				<button type="button" class="btn red darken-1" ng-click="aceptar()" >
					Aceptar
					<i class="icons ion-android-send"></i>
				</button>
			</div>

		</div>
	</div>
</div>